# Урок 11.
## Работа с символами, строками, встроенные методы работы со строками (find,  replace, split, isdigit, isalpha, upper, lower).
str - строковый тип (текст)

Последовательность символов можно представить в виде строки так:

'Текст в виде строки. Можно использовать цифры и другие символы, но не всякие.'

или так:

"1 + 2 = 3 - my text."

Можно преобразовать число в строку:

str(1)

### Длина строки len(my_str)

### Обращение к элементу строки my_str[i]

Можно перебирать символы строки в цикле for

for elem in my_str:

    print(elem * 2)

В строках можно использовать специальные символы, например, перевод строки '\n'.
## Методы строк:
https://docs.python.org/3/library/stdtypes.html#string-methods
### find
находит первое вхождение символа или строки, переданных в качестве аргумента, можно задать облать поиска внутри строки, передав вторым и третьим аргументом номер начального и конечного символа строки, между которыми нужно вести поиск.

Если нужно искать от некоторой позиции до конца строки, то указывается только второй аргумент!

'This is my favourite string'.find('is', 3, 7) ищет первое вхождение строки  is в строке This is my favourite string начиная с третьего символа и до седьмого, не включая седьмой, возвращает номер первого символа строки is в строке This is my favourite string, т.е. 5. Если не задавать область поиска, то получится 2.

### replace
заменяет каждое вхождение первой строки-аргумента на вторую строку-аргумент и возвращает результат, исходная строка не изменяется.

Если третьим аргументом передано число, то выполняется только такое число замен.

Например,

'This is my favourite string'.replace('is', '0') возвращает
'Th0 0 my favourite string', а если указать, что нужно выполнить только одну замену, т.е. 'This is my favourite string'.replace('is', '0', 1), то получим 'Th0 is my favourite string'.

### split
возвращает список list из строк, на которые можно разбить строку с помощью разделителя sep (необязательный аргумент метода split, по умолчанию пробел). Можно задать максимальное число разбиений.

### isdigit
возвращает True, если все символы строки цифры, причем строка не пустая, иначе возвращает False.

Например, '12345'.isdigit() True, '1e'.isdigit() False.

### isalpha
возвращает True, если все символы строки буквы, причем строка не пустая, иначе возвращает False.

Например, 'absd'.isalpha() True, '1e'.isalpha() False.

### upper
заменяет каждую маленькую букву на большую и возвращает результат, исходная строка не изменяется.
### lower
заменяет каждую большую букву на маленькую и возвращает результат, исходная строка не изменяется.
## Пример 1. find

Пользователь вводит строку из букв и цифр, программа выводит на экран позиции цифр в строке.

In [ ]:
my_str = input('Введите строку: ')
for cif in range(10):
    print(f'{cif}: {my_str.find(str(cif))}')

Введите строку: f63nd8g9ej64-vn289v
0: -1
1: -1
2: 15
3: 2
4: 11
5: -1
6: 1
7: -1
8: 5
9: 7

Программа вывела -1 для цифр, которые не встретились во введенной строке. Перепишем, чтобы отсутствующие цифры не выводились:

In [ ]:
my_str = input('Введите строку: ')
for cif in range(10):
    number = my_str.find(str(cif))
    if number != -1:
        print(f'{cif}: {number}')

Введите строку: f63nd8g9ej64-vn289v
2: 15
3: 2
4: 11
6: 1
8: 5
9: 7

Заметим, что find для цифры 6 нашел только первое вхождение, всегда поиск прекращается, как только найден нужный символ.

Рекомендуется использовать find только в том случае, если нужно определить позицию символа. Если требуется только узнать, есть ли такой символ в строе, нужно пользоваться in

In [ ]:
my_str = input('Введите строку: ')
for cif in range(10):
    if str(cif) in my_str:
        print(cif, end=' ')

Введите строку: f63nd8g9ej64-vn289v
2 3 4 6 8 9

Можно искать только в части строки:

In [ ]:
my_str.find('6', 5, -1)

10

Так удалось определить номер второго вхождения цифры 6.

find может определить позицию одной строки внутри другой:

In [ ]:
my_str.find('3nd8g')

2

В этом случае find возвращает позицию первого символа строки, которую ищет.
## Пример 2. replace
Пользователь вводит строку из букв и цифр, программа заменяет цифры на точки и выводит на экран результат.

In [ ]:
my_str = input('Введите строку из букв и цифр: ')
for cif in range(10):
    my_str = my_str.replace(str(cif), '.')
print(my_str)

Введите строку из букв и цифр: Digits 1 2 3 4
Digits . . . .

## Пример 3. replace
Пользователь вводит строку из букв и цифр, программа заменяет первое вхождение каждой цифры на соответствующее цифре число точек и выводит на экран результат.

In [ ]:
my_str = input('Введите строку из букв и цифр: ')
for cif in range(10):
    my_str = my_str.replace(str(cif), '.' * cif, 1)
print(my_str)

Введите строку из букв и цифр: Digit 1 1 1 digit 0 0 0 0 digit 5 5 5
Digit . 1 1 digit  0 0 0 digit ..... 5 5

##Пример 4. split
Представить в виде списка строк текст:

'Это;текст;который;нужно;разбить;на;отдельные строки'

разделители строк ';'.

Поскольку между словами отдельные и строки нет ;, то отдельные строки будет одной строкой.

In [ ]:
'Это;текст;который;нужно;разбить;на;отдельные строки'.split(sep=';')

['Это', 'текст', 'который', 'нужно', 'разбить', 'на', 'отдельные строки']

Зададим максимальное число разбиений 4.

In [ ]:
'Это;текст;который;нужно;разбить;на;отдельные строки'.split(sep=';', maxsplit=4)

['Это', 'текст', 'который', 'нужно', 'разбить;на;отдельные строки']

##Пример 5. isdigit, isalpha, upper
По строке '1a23bf51FG24' построим две новые строки, первая состоит только из букв нашей строки, причем все буквы сделаем большими, а вторая строка состоит из цифр.

In [ ]:
my_str = '1a23bf51FG24'.upper()
first_str = ''
second_str = ''
for symb in my_str:
    if symb.isalpha():
        first_str += symb
    elif symb.isdigit():
        second_str += symb
print(first_str, second_str)

ABFFG 1235124

Синтаксис метода join выглядит так:

строка-разделитель.join(итерируемый_объект)

где:
- строка-разделитель - строка, которая будет вставлена между элементами;
- итерируемый_объект - итерируемый объект, элементы которого нужно объединить.


Метод join может быть полезным для создания CSV-файлов, генерации SQL-запросов, форматирования вывода и других задач, где необходимо объединить элементы в строку с определенными разделителями.

In [ ]:
names = ["Alice", "Bob", "Charlie"]
result = ", ".join(names)
print(result)
# Вывод: Alice, Bob, Charlie

Alice, Bob, Charlie

In [11]:
type('jdkslsdgdks')

str

In [12]:
s1 = 'Hello'
s2 = 'Goodbye'
result = s1 + ' ' + s2 # конкатенация строк
s_res = s1 * 100
print(result) # просто выводим строку
print(len(s_res)) # выводим длину строки
print(s1[0])
print(s1[-1])
print(s1[1])
print(s1[-4])

# H  e  l  l  o
# 0  1  2  3  4
# -5 -4 -3 -2 -1

Hello Goodbye
500
H
o
e
e

##Задание 1.
Пользователь вводит строку из символов, программа выводит на экран первую и вторую позиции вхождений цифры 1, а если единица встречается только один раз, то только первую позицию, если же единицы в строке нет, то выводится текст '1 в строке нет'.

##Задание 2.
Пользователь вводит строку из символов, программа заменяет ',', '.' и ';' на пробел, если какой-то из этих символов находится в конце строки, то он просто убирается, т.е. строка-результат не должна оканчиваться на пробел.

##Задание 3.
Пользователь вводит строку из символов, программа заменяет не более одного вхождения цифры 1 на 0, не более двух вхождений 2 на 1 и т.д., в конце не более 9 вхождений цифры 9 на 8.

##Задание 4.
Пользователь вводит текст, содержащий цифры, буквы, запятые и точки, программа составляет список слов.

Указание: вначале можно убрать все цифры, заменить запятые и точки на пробел, после чего применить split.

##Задание 5.
Пользователь вводит десятичную дробь, например, 123.456, программа выводит представление в виде суммы целой части и правильной простой несократимой дроби.

Например, если введено 1.2, программа выводит 1 1/5.

Указание: для сокращения дроби можно пользоваться модулем math, функцией gcd,
для выделения целой и дробной части можно использовать split.

In [ ]:
from math import gcd

##Задание 6*.
Пользователь вводит текст с круглыми скобками, возможны вложенные скобки. Программа выводит текст 'Скобки сбалансированы' или 'Скобки не сбалансированы'.

Например,

текст (текст (текст) и еще (текст)) и в конце (текст)

'Скобки сбалансированы'

текст (текст (текст и еще (текст и в конце (текст)

'Скобки не сбалансированы'

##Задание 7**.
Пользователь вводит строку из символов, программа выводит на экран все позиции вхождений каждой цифры в отдельности.

Например, для строки '12233000020010201' вывод

0: 5, 6, 7, 8, 10, 11, 13, 15
1:

##Задание 7. Шеренга
Петя перешёл в другую школу. На уроке физкультуры ему понадобилось определить своё место в строю. Помогите ему это сделать.

Формат ввода:
Программа получает на вход невозрастающую последовательность натуральных чисел, означающих рост каждого человека в строю. После этого вводится число X – рост Пети. Все числа во входных данных натуральные и не превышают 200.

Формат вывода:
Выведите номер, под которым Петя должен встать в строй. Если в строю есть люди с одинаковым ростом, таким же, как у Пети, то он должен встать после них.

Пример 1

Ввод

165 163 160 160 157 157 155 154

162

Вывод

3


Пример 2

Ввод

165 163 160 160 157 157 155 154

160

Вывод

5

In [1]:
a = list(map(int, input().split()))
height = int(input())
p = 1
for cur in a:
    if cur >= height:
        p += 1
print(p)

165 163 160 160 157 157 155 154
162
3

##Задание 8. Удаление символа

Дана строка. Удалите из этой строки все символы @.

Формат ввода:
Вводится строка.

Формат вывода:
Выведите ответ на задачу.

Пример 1

Ввод

Bilbo.Baggins@bagend.hobbiton.shire.me

Вывод

Bilbo.Bagginsbagend.hobbiton.shire.me

In [2]:
print(input().replace('@',''))

Bilbo.Baggins@bagend.hobbiton.shire.me
Bilbo.Bagginsbagend.hobbiton.shire.me

## Задание 9. Вставка символа

Дана строка. Получите новую строку, вставив между двумя символами исходной строки символ *. Выведите полученную строку.

Формат ввода:
Вводится строка.

Формат вывода:
Выведите ответ на задачу.

![image.png]()

In [3]:
list_ch = input()
print('*'.join(list_ch))

Python
P*y*t*h*o*n


1) Заменить все гласные буквы в строке на символ "*".

2) Посчитать количество символов в строке.

3) Проверить, является ли строка палиндромом.

4) Получить первые три и последние три символа строки и объединить их в одну строку.

5) Разделить строку на список слов и подсчитать количество слов.

In [9]:
# 2
string = input()
count = 0
for char in string:
    count += 1
print(count)

shkdcbsdus
10

In [10]:
# 5
string = input()
words = string.split()
count = len(words)
print(count)

Hahaha hihihi hohoho
3